<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GoGreenApp3</display-name>
  <welcome-file-list>
    <welcome-file>PanelLogin.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetItemsServlet</display-name>
    <servlet-name>GetItemsServlet</servlet-name>
    <servlet-class>com.green.servlet.GetItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItemsServlet</servlet-name>
    <url-pattern>/GetItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.green.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.green.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitFeedbackServlet</display-name>
    <servlet-name>SubmitFeedbackServlet</servlet-name>
    <servlet-class>com.green.servlet.SubmitFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFeedbackServlet</servlet-name>
    <url-pattern>/SubmitFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertItemServlet</display-name>
    <servlet-name>InsertItemServlet</servlet-name>
    <servlet-class>com.green.servlet.InsertItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertItemServlet</servlet-name>
    <url-pattern>/InsertItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testSSl</display-name>
    <servlet-name>testSSl</servlet-name>
    <servlet-class>com.green.test.testSSl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testSSl</servlet-name>
    <url-pattern>/testSSl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet</display-name>
    <servlet-name>GetInfoServlet</servlet-name>
    <servlet-class>com.green.panelServlets.GetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet</servlet-name>
    <url-pattern>/GetInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RewardsServlet</display-name>
    <servlet-name>RewardsServlet</servlet-name>
    <servlet-class>com.green.servlet.RewardsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RewardsServlet</servlet-name>
    <url-pattern>/RewardsServlet</url-pattern>
  </servlet-mapping>
</web-app>